@font-face {
  font-family: 'pp_mondwestregular';
  src: url('assets/ppmondwest-regular-webfont.woff2') format('woff2'),
       url('assets/ppmondwest-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'PP_NeueBit';
  src: url('assets/PPNeueBit-Bold.woff2') format('woff2'),
      url('assets/PPNeueBit-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

html, body {
    padding: 0;
    

  }
canvas {
    display: block;
    border: 1.5px solid black;
    cursor: url('assets/cursor.cur'), auto;
    padding: 20px;
  }

img {
    position: absolute;
    height: 700px;

    top: 80px;
    left: 150px;

}
.top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-top: 10px;
    margin-bottom: 10px;
    width: 530px;
}
input {
  margin-right: 10px;
}

button {
    height: 30px;
}

.pen-tools {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50%;
}
.title{
  text-align: center;
  width: 600px;

  font-family:'PP_NeueBit';
  font-size: 80px;
  color:white;
  -webkit-text-stroke: 1.2px black;

}

.header {
 font-size: 150px;
 font-family:'PP_NeueBit';

 line-height: 60%;
 text-align: center;

  margin: 0 0;
  margin-bottom: 10px;

 color:white;
  -webkit-text-stroke: 1.5px black;
  text-shadow: 5px 5px #000000;
}

.startscreen-content {
  width: 100%;
  height: 850px;
  background-image: url("assets/flower-garden2.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  border: 2px solid black;

  z-index: 10;

  position:absolute;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

#size {
  font-family: 'PP_NeueBit';
  font-size: 50px;

  color:white;
  -webkit-text-stroke: 1px black;
}

button {
  font-family: 'pp_mondwestregular';
  font-size:18px;

  background-color: white;
}

button#NextPage:hover{
  background-color: rgb(219, 236, 188);
}

#StartButton, #NextPage {
  font-size:50px;
  height: fit-content;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.content{
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.startscreen {
  display: flex;
  flex-direction: column;
  align-items: center;

  z-index: 100;
}

.instructions {
  display: flex;
  flex-direction: column;
  align-items: center;

  z-index: -100;
}

.instructions-content {
  position:absolute;
  
  width: 100%;
  height: 850px;
  background-color: rgb(174, 222, 90);

  border: 2px solid black;

  z-index: 10;

  position:absolute;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  font-family: 'pp_mondwestregular';
  font-size:35px;
  width: 50%;

  text-align: center;
}