@font-face {
  font-family: 'PP Pangram Sans Rounded Narrow';
  src: url('PPPangramSansRounded-Bold.woff2') format('woff2'),
      url('PPPangramSansRounded-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Pangram Sans Rounded';
  src: url('PPPangramSansRounded-Regular.woff2') format('woff2'),
      url('PPPangramSansRounded-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Pangram Sans Rounded Smbold';
  src: url('PPPangramSansRounded-Semibold.woff2') format('woff2'),
      url('PPPangramSansRounded-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Pangram Sans Rounded';
  src: url('PPPangramSansRounded-Thin.woff2') format('woff2'),
      url('PPPangramSansRounded-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Pangram Sans Rounded';
  src: url('PPPangramSansRounded-Medium.woff2') format('woff2'),
      url('PPPangramSansRounded-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Pangram Sans Rounded Exbold';
  src: url('PPPangramSansRounded-Extrabold.woff2') format('woff2'),
      url('PPPangramSansRounded-Extrabold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Pangram Sans Rounded';
  src: url('PPPangramSansRounded-Light.woff2') format('woff2'),
      url('PPPangramSansRounded-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

html, body {
    padding: 0;
    

  }
canvas {
    display: block;
    border: 2px solid black;
    cursor: url('assets/cursor.png'), auto;
    padding: 20px;

    border-radius: 7px;
  }

img {
    position: absolute;
    height: 700px;

    top: 80px;
    left: 150px;

}
.top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-top: 2px;
    margin-bottom: 10px;
    width: 530px;
}
input {
  margin-right: 10px;
}

button {
    height: 30px;
}

.pen-tools {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50%;
}
.title{
  text-align: center;
  width: 600px;

  font-family: 'PP Pangram Sans Rounded Narrow';
  font-size: 65px;
  color:rgb(174, 222, 90);
  -webkit-text-stroke: 2px black;

  


}

.header {
 font-size: 120px;
 font-family: 'PP Pangram Sans Rounded Narrow';

 line-height: 90%;
 text-align: center;

  margin: 0 0;
  margin-bottom: 0px;

 color:white;
  -webkit-text-stroke: 2.5px black;
  /* text-shadow: 5px 5px #000000; */


}

.startscreen-content {
  width: 100%;
  height: 850px;
  background-image: url("assets/pixel-garden_2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;


  background-color: rgb(255, 255, 255);

  border: 2px solid black;

  z-index: 10;

  position:absolute;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.startscreen-content .header{
 color:rgb(174, 222, 90);
 
  
}

#size {
  font-family: 'PP Pangram Sans Rounded Narrow';
  font-weight: 500;
  font-size: 50px;

  color:white;
  -webkit-text-stroke: 2px black;
  /* text-shadow: 2px 2px #000000; */

}

button {
  font-family: 'PP Pangram Sans Rounded';
  font-weight: 500;
  font-size:18px;

  background-color: white;
  border-color: #2e2e2e;

  border-radius: 7px;

  /* margin-top: 10px; */
}

button#NextPage:hover{
  background-color: rgb(219, 236, 188);
}
button:hover{
  background-color: rgb(219, 236, 188);
}

#StartButton, #NextPage {
  font-size:50px;
  height: fit-content;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.content{
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.startscreen {
  display: flex;
  flex-direction: column;
  align-items: center;

  z-index: 100;
}

.instructions {
  display: flex;
  flex-direction: column;
  align-items: center;

  z-index: -100;
}

.instructions-content {
  position:absolute;
  
  width: 100%;
  height: 850px;
  background-color: rgb(174, 222, 90);

  border: 2px solid black;

  z-index: 10;

  position:absolute;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  font-family: 'PP Pangram Sans Rounded';
  font-weight: 500;
  font-size:20px;
  width: 50%;

  text-align: center;
}

.startscreen-content .header {
  margin-bottom: 20px;
}

#color {
  min-width: 50px;
  height: 50px;
  border-color: #2e2e2e;
  border: 2px solid black;

  border-radius: 7px;

 
}

.flower-img {
  height: 120px;
  position: relative;

  top: 0px;
  left: 0px;

  margin-bottom: 10px;

  border: 3px solid black;
  background-color: white;

  border-radius: 100%;

  padding: 10px;

}

#weight {
  -webkit-appearance: none;  /* Override default CSS styles */
  border: 2px solid black;
  background-color: white;
  border-radius: 100px;
  height: 8px; /* Specified height */

}

#weight::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  width: 20px; /* Set a specific slider handle width */
  height: 20px; /* Slider handle height */
  background:rgb(158, 208, 72);
  border-radius: 100%;

  outline: 2px solid black ;
  cursor: pointer; /* Cursor on hover */
}

